{% extends "account/base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}

<style>
  
input[type=checkbox]{
  transform: scale(1.5);
}

input[type=checkbox]:checked:after{
  border: solid white;
}

.checkboxText{
  font-size: 50%;
  display: inline;
  margin-left: 8px;
}

</style>

<section style="margin-top: 7%">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin-top: -7%">
        {% load static %}
        <img src="{% static 'images/img_login.svg' %}" height="512" width="512">
      </div>
      <div class="col-md-5">
        <div class="card">
          <h3 class="card-title text-center text-dark mb-2 mt-2">Entrar</h3>
          <div class="container">
            <form method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <p class="text-muted text-center mb-2 mt-1">Não possui uma conta? <a href="{{signup_url}}">Clique para registrar.</a></p>
              {% for error in form.non_field_errors %}
                <p class="text-danger text-center mb-2 mt-0">{{error}}</p>
              {% endfor %}

            <div class="page">
              <label class="field a-field a-field_a1">
                <input class="field__input a-field__input" placeholder="Ex: Snarloff" type="text" name="login" autofocus="autofocus" maxlength="150" id="id_login" required>
                <span class="a-field__label-wrap">
                  <span class="a-field__label text-dark">Nome de Usuário</span>
                </span>
              </label>
              <label class="field a-field a-field_a2">
                <input class="field__input a-field__input" placeholder="Ex: 123456" type="password" name="password" id="id_password" required>
                <span class="a-field__label-wrap">
                  <span class="a-field__label text-dark">Senha</span>
                </span>
              </label>    
            </div>       
          </div>
            <label class="text-muted mb-1 text-center" id="id_remember">Lembrar de mim
            <input type="checkbox" name="remember" id="id_remember" class="mb-1 checkboxText"></label>
            <p class="text-muted text-center mb-1 mt-1">Esqueceu a senha? <a href="{% url 'account_reset_password' %}">Clique para recuperá-la.</a></p>
            <button type="submit" class="btn-purple mt-2 mb-2">Confirmar</button>
          </form>     
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
