{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Redefinição de senha{% endblock %}

{% block content %}
<section style="margin-top: 7%">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card">
					<h3 class="card-title mb-4 mt-2 text-center text-dark">Redefinição de senha
					{% if user.is_authenticated %}
						{% include "account/snippets/already_logged_in.html" %}
					{% else %}
						<h5 class="card-subtitle text-dark text-center mb-2">Um e-mail foi enviado. Por favor contacte-nos se não o receber nos próximos minutos.</h5>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>   

{% endblock %}