{% extends "account/base.html" %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
<section style="margin-top:  5%">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<h3 class="card-title mb-2 mt-2 text-center text-dark">Alterar Senha</h3>
						<form method="POST" action="{% url 'account_change_password' %}">
							{% csrf_token %}
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <p class="text-danger text-center mb-2 mt-0">{{error|escape}}</p>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <p class="text-danger mb-2 mt-0">{{error|escape}}</p>
                  {% endfor %}
                {% endif %}
                <div class="page">
                	<label class="field a-field a-field_a1">
                    <input class="field__input a-field__input" placeholder="Ex: 123456" type="password"name="oldpassword" id="id_oldpassword" required="">
                    <span class="a-field__label-wrap">
                      <span class="a-field__label text-dark">Senha Antiga</span>
                    </span>
                  </label>
                  <label class="field a-field a-field_a2">
                    <input class="field__input a-field__input" placeholder="Ex: 123456" type="password"name="password1" id="id_password1" required>
                    <span class="a-field__label-wrap">
                      <span class="a-field__label text-dark">Nova Senha</span>
                    </span>
                  </label>
                  <label class="field a-field a-field_a3">
                    <input class="field__input a-field__input" placeholder="Ex: 123456" type="password" id="id_password2" name="password2" required>
                    <span class="a-field__label-wrap">
                      <span class="a-field__label text-dark">Nova Senha (novamente)</span>
                    </span>
                  </label>
                  <button type="submit" class="btn-purple" name="action">Confirmar</button>    
                </div>
            </form>
          </div> 
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
