{% extends "account/base.html" %}

{% block title %}Verifique seu endereço de E-Mail{% endblock %}

{% block content %}

<section style="margin-top: 7%">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<h3 class="card-title mb-2 mt-2 text-center text-dark">Verifique seu E-Mail</h3>
					<h5 class="card-subtitle mb-2 mt text-center text-dark">Enviamos um e-mail para você para verificação. Clique no link fornecido para finalizar o processo de inscrição. Entre em contato conosco se você não recebê-lo dentro de alguns minutos.</h5>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
