{% extends "account/base.html" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}

<section style="margin-top: 7%">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <h3 class="card-title text-center text-dark mb-2 mt-2">Recuperar Senha</h3>
          <div class="container">
            <p class="text-muted">Esqueceu a senha? Digite seu e-mail no campo abaixo para recuperá-la.</p>
            <form method="POST" action="{% url 'account_reset_password' %}">
              {% csrf_token %}
              <input type="email" name="email" size="30" placeholder="Endereço de e-mail" required="" id="id_email" class="form-control mb-2 input-style">
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <p class="text-danger text-center mb-2 mt-0">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <p class="card-footer text-muted mt-2"><i>Entre em contato conosco se tiver algum problema para redefinir sua senha.</i></p>
          </div>
            <button type="submit" class="btn-purple mt-1 mb-2">Confirmar</button>
          </form>     
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  var forms = document.querySelectorAll('input[id^="id_"]')
  var labels = document.getElementsByTagName("label")

  for (var field in forms){
    forms[field].className += "form-control mb-2 input-style"
  }

</script>

{% endblock %}
