{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Senha Alterada{% endblock %}

{% block content %}
<section style="margin-top: 7%">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
        	<h3 class="card-title mb-2 mt-2 text-dark text-center">Senha Alterada</h3>
        	<h5 class="card-title mb-2 mt-2 text-dark text-center">Sua senha foi alterada com sucesso.</h5>
        	<button type="button" onclick="redirecionar()" class="btn-purple">Clique parar entrar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
	function redirecionar() {
		window.location.href = "{% url 'account_login' %}"
	}
</script>

{% endblock %}
