{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Alterar Senha{% endblock %}

{% block content %}
<section style="margin-top: 7%">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          {% if token_fail %}
            <h3 class="card-title mt-2 mb-2 text-center text-dark">Problema no Token</h3>
            {% url 'account_reset_password' as passwd_reset_url %}
            <h5 class="card-subtitle mt-2 mb-2 text-center text-dark">
              O link para redefinição da senha era inválido, provavelmente por já ter sido usado. Por favor peça uma <a href="{{ passwd_reset_url }}">nova redefinição da senha.</a>
            </h5>
            <button type="button" class="btn-purple" onclick="redirecionar()">Voltar para a Home</button>
          {% else %}
            <h3 class="card-title mt-2 mb-2 text-center text-dark">Alterar senha</h3>
            {% if form %}
              <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <p class="text-danger text-center mb-2 mt-0">{{error|escape}}</p>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <p class="text-danger mb-2 mt-0">{{error|escape}}</p>
                  {% endfor %}
                {% endif %}                  
                <div class="page">
                  <label class="field a-field a-field_a1">
                    <input class="field__input a-field__input" placeholder="Ex: 123456" type="password"name="password1" id="id_password1" required>
                    <span class="a-field__label-wrap">
                      <span class="a-field__label text-dark">Nova Senha</span>
                    </span>
                  </label>
                  <label class="field a-field a-field_a2">
                    <input class="field__input a-field__input" placeholder="Ex: 123456" type="password" id="id_password2" name="password2" required>
                    <span class="a-field__label-wrap">
                      <span class="a-field__label text-dark">Nova Senha (novamente)</span>
                    </span>
                  </label>
                  <button type="submit" class="btn-purple" name="action">Confirmar</button>    
                </div> 
              </form>
            {% else %}
              <h5 class="card-subtitle mt-2 mb-2 text-dark text-center">Sua senha foi mudada com sucesso!</h5>
              <button type="button" class="btn-purple" onclick="redirecionar()">Voltar para a Home</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function redirecionar(){
    window.location.href = "/"
  }
</script>

{% endblock %}
