@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body{
	font-family: "Roboto", sans-serif;
}

.home{
	height: auto;
	width: 100%;
}
/*#5e32a8*/
#header{
	background-color: #8934eb;
}

.btn-google{
  color: white;
  background-color: red;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  border: none;
  content: "";
}

.btn-purple{
	color: white;
  background-color: #8934eb;
  border-color: #8934eb;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  font-size: 20px;
  border: none;
}

.btn-purple:hover{
  transform: scale(1.05);
}

.btn-purple:active{
  border-top-color: #5e32a8;
}

.btn-cart{
  color: white;
  background-color: #2777d9;
  border-color: #8934eb;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  font-size: 20px;
  border: none;
}

.btn-cart:hover{
  transform: scale(1.05);
}

.nav-size{
	font-size: 18px;
}

.main-content{
	width: 100%;
}

.searchButton {
  width: 40px;
  height: 37.2px;
  border: 1px solid #fff;
  background: #fff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -4px;
}


/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
  display: inline-block;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
  --uiFieldHeight: var(--fieldHeight, 2.5rem);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1rem);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1rem);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1rem;  
}

.a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight); 

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus{
  border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .a-field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after{
  width: 100%;
}

/* a-field_a3 */

.a-field_a3{
  padding-top: 1.5rem;
}

.a-field_a3 .a-field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}

/*
=====
DEMO
=====
*/

.page{
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  
  display: grid;
  grid-gap: 30px;
  align-items: flex-end;
  order: 1;
}

@media (min-width: 481px){
  .page{
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #2e2d2d;
  -webkit-box-shadow: inset 0 0 6px #5e32a8; 
}
